<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/themes/default/style.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/jstree.min.js"></script>

</head>
<body>

<h1>Categories</h1>
<div id="category-tree"></div>
<script>
    $(document).ready(function() {
        $('#category-tree').jstree({
            'core': {
                'data': {category_tree}
            }
        });

        $('#category-tree').on('changed.jstree', function (e, data) {
            var i, j, r = [];
            for(i = 0, j = data.selected.length; i < j; i++) {
                r.push(data.instance.get_node(data.selected[i]).id);
            }
            $('#selected-category').val(r.join(', '));
        });
    });
</script>

<input type="hidden" id="selected-category" name="selected_category">

</body>
</html>